.post {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    max-width: 800px;

    border: 1px solid black;
}

.post > h2 {
    text-align: center;
    font-size: 30px;
}

.post > p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.post > img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.descr {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.descr > h5 {
    text-align: center;
    font-size: 14px;
    border: 1px solid red;
    margin: 0 5px;
}