.post {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    max-width: 800px;

    border: 1px solid black;
}

.post > h2 {
    text-align: center;
    font-size: 30px;
}

.post > h5 {
    text-align: center;
    font-size: 16px;
}

.post > p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.post > img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.descr {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.descr > h5 {
    display: flex;
    flex-basis: calc(50% - 10px);  
    /* width: 45%; // 50% if border: 0 and margin: 0 */
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons > .link > button, .buttons > button {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px;
}