.post {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    max-width: 800px;

    border: 1px solid black;
}

.post > h2 {
    font-size: 30px;
}

.post > p {
    margin-top: 20px;
    font-size: 18px;
}

.descr {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.descr > h5 {
    font-size: 14px;
}